html {
    scroll-behavior: smooth;
}

:root {
    background-color: rgb(245, 223, 196);
    --color: rgb(97, 77, 62);
    color: var(--color)
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header, footer, .dark {
    background-color: rgb(193, 166, 132);
}

h2 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 75%;
    margin: 0 auto;
    padding: 28px 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 4px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
  border-radius: 4px;
  margin: 4px auto;
  transition: all 0.3s ease;
}

.nav-item a:hover {
  background-color: blanchedalmond;
}

#title .container {
    flex-direction: row;
}

#title img {
    display: block;
    width: 25%;
    height: auto;
    border-radius: 1em;
}

#title h1 {
    margin: auto;
    font-size: 64px;
}

#contacts a {
  color: var(--color);
  text-decoration: none;
  transition: all 0.3s ease;

}

#contacts a:hover {
    text-decoration: underline;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#experience .container {
    row-gap: 0.5em;
}

code {
  display: block; 
  border-radius: 1em;
  padding: 1em; 
  margin-top: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  background: rgb(243, 238, 231); 
}

footer .container {
    flex-direction: row;
    justify-content: space-between;
}

.school-link {
    display: block;
    height: 1em ;
    aspect-ratio: 4/1;
    background-image: url(./assets/rs-school-logo.svg);
    background-repeat: no-repeat;
    background-position: center;

}